p b i{
    color: brown;
}
li b{
    color: aquamarine;
}
.odd {
    color:red ;
}
.eve{
    color: green;
}
.eee{
    color: green;
}
.red {
	color: red;
}
.xxx{
    font-size: 30px;
}
.block1 {
	color: red;
}
.block2 {
	color: green;
}